/***************************************************************************/
* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #2a9d8f;
  font-family: "Fredericka the Great", cursive;
}

button {
  border-radius: 20px;
  padding: 10px 20px;
  font-family: "Fredericka the Great", cursive;
  font-size: 30px;
}
p {
  text-align: center;
  color: aliceblue;
  font-size: 50px;
}
h4 {
  text-align: center;
  color: aliceblue;
  letter-spacing: 3px;
}

canvas {
  text-align: center;
  color: snow;
  width: 180px;
  margin-left: 40%;
  margin-top: 4%;

}
/***************************************************************************/
.buttons-letters {
  background-color: snow;
  margin-left: 5px;
  font-size: 30px;
  text-align: justify;
  width: 60px;
  text-align: center;
}
.buttons-letters:hover:enabled {
  background-color: silver;
}
.btn-game-container {
  float: right;
}
.btn-game-container button:hover {
  background-color: RGBA(240, 248, 255, 0.51);
}
.reset-game-btn,
.btn-show-word {
  font-size: 20px;
}
.definition-para {
  font-size: 40px;
}
.title {
  font-size: 50px;
  color: aliceblue;
  text-align: center;
}

.main-container {
  margin-bottom: 0;
  margin-top: 2%;
}
.lines {
  width: 1%;
  height: 90px;
  margin-left: 20px;
  margin-top: 5px;
  border-bottom: 3px solid RGBA(240, 248, 255, 0.51);
  padding: 10px 10px;
  display: inline-block;
}

.result {
  font-size: 155px;
  text-align: center;
  letter-spacing: 5px;
}
.btn-container {
  margin: 5px 100px;
}
.text-container {
  text-align: center;
}
.signature{
  font-size: 25px;
}

/***************************************************************************/
/* Big tablets to 1200px*/
@media only screen and (max-width: 1200px) {
  .title {
    font-size: 120px;
  }
  .definition-para {
    font-size: 15px;
    padding-bottom: 25px;
  }
  .lines {
    width: 35px;
  }
  canvas {
    width: 130px;
  }
    .signature{
    font-size: 15px;
  }
}

/* Small tablets to big tablets: from 768 to 1032*/
@media only screen and (max-width: 1032px) {
  .title{
    font-size: 80px;
  }
  .definition-para {
    font-size: 25px;
  }
  .signature{
    font-size: 30px;
  }
  .lines {
    width: 30px;
  }
  canvas {
    width: 200px;
  }
  p{
    font-size: 50px;
  }
}

/* Small phones to small tablets: from 481 to 767*/
@media only screen and (max-width: 767px) {
  .title {
    padding-top: 20px;
    font-size: 35px;
  }
  .reset-game-btn,
  .btn-show-word {
    font-size: 20px;
  }
  .btn-game-container {
    margin-top: 10px;
    margin-right: 30%;
  }
  .container-btn-show-btn {
    width: 140px;
    height: 60px;
    padding-top: 6px;
  }
  .buttons-letters {
    background-color: snow;
    margin-left: 5px;
    font-size: 30px;
  }
  .btn-container {
    margin: 5px 10px;
  }
  .buttons-letters {
    border-radius: 12px;
    background-color: snow;
    font-size: 15px;
  }

  canvas {
    width: 80px;
  }
  p {
    font-size: 20px;
  }
  .lines {
    height: 10px;
    width: 1px;
    margin-left: 15px;
    margin-top: 2.5px;
    padding: 5px 5px;
  }
  .text-container {
    margin-bottom: 50px;
    padding: 10px 10px;
  }
  .result {
    font-size: 52px;
    letter-spacing: 2px;
  }
  .definition-para {
    font-size: 15px;
    padding-bottom: 25px;
  }
  .signature{
    font-size: 15px;
  }
}

/*Small Phone from 0 to 480px*/
@media only screen and (max-width: 400px) {
  .title {
    padding-top: 20px;
    font-size: 35px;
  }
  .reset-game-btn,
  .btn-show-word {
    font-size: 20px;
  }
  .btn-game-container {
    margin-top: 10px;
    margin-right: 30%;
  }
  .container-btn-show-btn {
    width: 140px;
    height: 60px;
    padding-top: 6px;
  }
  .buttons-letters {
    background-color: snow;
    margin-left: 5px;
    font-size: 30px;
  }
  .btn-container {
    margin: 5px 10px;
  }
  .buttons-letters {
    border-radius: 12px;
    background-color: snow;
    font-size: 15px;
  }

  canvas {
    width: 80px;
  }
  p {
    font-size: 20px;
  }
  .lines {
    height: 10px;
    width: 1px;
    margin-left: 15px;
    margin-top: 2.5px;
    padding: 5px 5px;
  }
  .text-container {
    margin-bottom: 50px;
    padding: 10px 10px;
  }
  .result {
    font-size: 52px;
    letter-spacing: 2px;
  }
  .definition-para {
    font-size: 20px;
  }
  .signature{
    font-size: 15px;
  }
}
